body {
    display: grid;
    grid-template-columns: 1fr 350px 60px 360px 1fr;
    grid-template-areas: " . picture . text . ";
    background-color:#eaebed;
 }
    body > img {
        grid-area: picture;
        display: inline-block;
        width: 100%;
        margin-top: 120px;
    }
    body > div {
        grid-area: text;
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-top: 200px;
        font-size: 28px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
        h1 {
            display: inline-block;
            width: 100%;
            font-size: 100px;
            font-weight: 790;
            color: #323941;
            margin: 14px;
        }
        p.a {
            display: inline-block;
            width: 100%;
            margin: 0;
            margin-top: 10px;
            margin-bottom: 30px;
            font-weight: 500;
            color:#4c4b6d;
        }
        p.b {
            display:inline-block;
            width: 100%;
            margin: 0 0 20px 0;
            font-size: 18px;
            font-weight: lighter;
            color:#4c4b6d;  
        }
        a {
            display: inline-block;
            font-size: 25px;
            background-color: #6c728c;
            color: #ffffff;
            padding: 14px 12px;
            border-radius: 5%;
            text-decoration: none;
            text-transform: uppercase;
        }

@media (max-width: 800px) {
body {
    grid-template-columns: 1fr 200px 30px 210px 1fr;
}
    body > img {
        margin-top: 250px;
    }
    body > div {
        margin-top: 290px;
        font-size: 16px;
    }
        body > div > h1 {
            font-size: 64px;
            margin: 10px;
        }
        body > div > p.a {
            margin: 8px 0 18px;
        }
        body > div > p.b {
            font-size: 16px;
            margin-bottom: 12px;
        }
        body > div > a {
            font-size: 16px;
            padding: 10px 8px;
        }
@media (max-width: 460px) {
body {
    grid-template-columns: 50px 1fr 50px;
    grid-template-areas:
        ". text ."
        ". picture ."
}
    body > img {
        margin-top: 10px;
    }
    body > div {
        margin-top: 50px;
    }
}